body{
    margin: 0;
    padding: 0;
    height: 1000px;
    

}
.container{
    height: 700px;
    background-image: url(Jeep-car.png);
    background-size: cover;
    background-position: center;
}
.logo{
    justify-self: center;
    font-size: 30px;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 3px;
    justify-self: center;
}
li{
    margin: 20px;
    font-size: 25px;
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    width: 100%;
}
a{
    text-decoration: none;
    padding: 10px;
    
}
a:hover{
    background-color: pink;
    border-radius: 20px;
    color: white;
}
.carousel-controls {
    position: absolute;
    bottom: 60px;
    right: 50px;
}

.carousel-controls button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 50%;
}
.carousel-controls button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
/*second page*/
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 55%;

}
.secpage{
    font-size:40px ;
}
.secp{
    text-align: center;
    font-size: 25px;
    
}
.secsection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    
}
hr{
    width: 30%;
    height: 4px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
}
.price{
    font-size: 30px;
}
.but{
    width: 150px;
    height: 60px;
    background-color:pink;
    color: white;
    border-radius: 35px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 3px 10px black;
}
.but:hover{
    box-shadow: 2px 1px 7px black;
    background-color: red;
}



