.container{
    border: 2px solid brown;
    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;
    
    
}
div{
    
    height: 50px;
    text-align: center;
    font-size:xx-large;
    
}
.A{
background-color: green;

}
.B{
background-color: skyblue;
}
.C{
background-color: blueviolet;
}
.D{
background-color: gray;
}
.E{
background-color: yellow;

}
.F{
background-color: orange;
}
.G{
background-color: red;
}
.H{
background-color: dimgrey;
}
.I{
background-color: green;
}
.J{
background-color: darkgreen;

}